@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

ion-icon,
img,
video,
h1,
p {
  cursor: pointer;
}

ion-icon {
  font-size: 22px;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  margin-bottom: 34px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 935px;
  margin: 0 auto;
  padding: 0 5px;
}

.bottom-nav {
  display: none;
}

.nav-wrapper > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  width: 90px;
}

.main-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 935px;
  margin: 88px auto 0px auto;
}

main {
  width: 614px;
}

.stories-wrapper {
  width: 100%;
  height: 118px;
  display: flex;
  align-items: center;
  gap: 14px;

  position: relative;
  padding: 0px 18px;

  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

  overflow-x: scroll;
}

.stories-wrapper::-webkit-scrollbar {
  display: none;
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.story :first-child {
  width: 66px;
  height: 66px;
  border-radius: 28px;
}

.story :nth-child(2) {
  position: absolute;
  top: 4.5px;
  left: 6px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.stories-wrapper ion-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 43px;
  right: 5px;
  color: white;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.posts-wrapper {
  width: 100%;
  margin-top: 24px;
}

.post {
  margin-bottom: 60px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.post header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.post header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.post header img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.post img,
.post video {
  width: 100%;
}

.post ion-icon[name='heart'] {
  color: #ff0000;
}

.likes {
  display: flex;
  align-items: center;
  padding: 0 16px 13px;
  font-weight: 300;
}

.likes img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.likes span {
  font-weight: 500;
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 17px 14px 17px;
}

.interactions :first-child {
  display: flex;
  gap: 17px;
}

.sidebar {
  position: sticky;
  top: 54px;
  width: 293px;
  height: 500px;
}

.sidebar header {
  display: flex;
  height: 102px;
  align-items: center;
  gap: 18px;
  background-color: #ffffff;
}

.user {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user ion-icon {
  font-size: 20px;
}

.sidebar header img {
  width: 56px;
  height: 56px;
  border: 28px;
}

.sidebar h1 {
  font-size: 14px;
  font-weight: 500;
}

.sidebar p {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 300;
}

.sidebar h3 {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
}

.sidebar > div {
  display: flex;
  justify-content: space-between;
}

.suggestions-wrapper ul {
  width: 100%;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  margin: 17px 0px;
  align-items: center;
}

.suggestion h1 {
  font-weight: 500;
  margin-bottom: 4px;
}

.suggestion p {
  font-weight: 400;
}

.suggestion > p {
  color: #139ef2;
  font-weight: 500;
}

.suggestion img {
  width: 32px;
  height: 32px;
}

.suggestion div {
  display: flex;
  gap: 11px;
}

.suggestion div > div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
}

.sidebar footer p {
  font-weight: 400;
  line-height: 13px;
  margin-top: 18px;
  color: #c7c7c7;
}

#search {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0px 5px;
}

#search::placeholder {
  text-align: center;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }

  .nav-wrapper {
    width: 100%;
    margin: 0;
    padding: 0px 20px;
  }

  .main-wrapper {
    width: 100%;
    flex-direction: column;
  }

  main {
    margin: 0 auto;
  }
}

@media (max-width: 614px) {
  #search {
    display: none;
  }

  /* displays only the required icons */
  .nav-wrapper ion-icon {
    display: none;
  }

  .nav-wrapper .mobile-show {
    display: block;
  }

  .nav-wrapper img {
    position: fixed;
    left: 37%;
  }

  main {
    width: 100%;
    margin: 0;
  }

  .stories-wrapper ion-icon {
    display: none;
  }

  .bottom-nav {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 0px 17px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
  }
}